*.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
*.env
movie_service/.env
.env.tests
docs_build
site_build
venv
docs.zip
archive.zip
docker-compose.override.yml
docker-compose.test.override.yml
# vim temporary files
*~
.*.sw?
.cache
etl/.env.etl
# macOS
.DS_Store
docker-compose-dev.yml
docker-compose-test.yml
.flake8
