# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379

# Elasticsearch Settings
ES_HOST=http://elasticsearch
ES_PORT=9200

ES_MOVIE_INDEX=movies
ES_GENRE_INDEX=genres
ES_PERSON_INDEX=persons

SERVICE_URL=http://api:8000
