# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379

SERVICE_URL=http://auth:8001

# PostgreSQL Settings
POSTGRES_USER=app_test
POSTGRES_PASSWORD=123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SCHEMA=auth_test
POSTGRES_DB=app_test
POSTGRES_ECHO=True


# Yandex OAuth
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_AUTHORIZE_URL=https://oauth.yandex.ru/authorize
YANDEX_ACCESS_TOKEN_URL=https://oauth.yandex.ru/token
YANDEX_SCOPE=login:email login:info
YANDEX_USERINFO_ENDPOINT=https://login.yandex.ru/info
