# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379

SERVICE_URL=http://auth:8001

# PostgreSQL Settings
POSTGRES_USER=app_test
POSTGRES_PASSWORD=123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SCHEMA=auth_test
POSTGRES_DB=app_test
